# Supabase Configuration
EXPO_PUBLIC_SUPABASE_URL=https://atjimbuhenthdyjdydgn.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImF0amltYnVoZW50aGR5amR5ZGduIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTUyNTM2MjYsImV4cCI6MjA3MDgyOTYyNn0.Rbdq25KP48jtZR6xrOw0zRH80E8ArFSH7RuG-xTodkI

# API Configuration
EXPO_PUBLIC_API_BASE_URL=http://localhost:3001
